@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
:root {
  --mainColor: #6f4e37;
  --secondaryColor: #a67b5b;
  --thirdColor: #ecb176;
  --fourthColor: #4a4947;
  --textColor: #fed8b1;
  --mainText: "Cinzel";
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--mainColor);
  font-family: var(--mainText);
  color: var(--textColor);
}
#page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  gap: 1em;
}
#header {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 2em;
}
#board-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#board {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#move-log-cont {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark {
  background-color: var(--secondaryColor);
}
.light {
  background-color: var(--thirdColor);
}
#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 75%;
  height: 50%;
  font-family: var(--mainText);
  background-color: var(--fourthColor);
  color: var(--textColor);
  border-color: var(--thirdColor);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.btn:hover {
  transform: translateY(-10px);
  background-color: var(--textColor);
  color: var(--fourthColor);
}
.btn:active {
  background-color: var(--fourthColor);
  color: var(--textColor);
}
#knight-icon {
  width: 80%;
  height: 80%;
  transition: transform 0.5s;
}
@media (min-width: 1200px) {
  #page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  #board-cont {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center;
  }
  #board {
    width: 700px;
    height: 700px;
  }
  #move-log {
    font-size: 2em;
  }
  #title {
    font-size: 3em;
  }
  .btn {
    height: 30%;
    width: 80%;
    font-size: 1.5em;
  }
}
